@model IEnumerable<DS_System.Models.Proveedores>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <section class="vh-100" style="background-color: #CFD8DC">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-12">
                    <div class="card" style="border-radius: 1rem;">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NombreContacto)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Rfc)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Direccion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Telefono)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.email)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Estatus)
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NombreContacto)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Rfc)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Direccion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Telefono)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Estatus)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.IdProveedor }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.IdProveedor }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.IdProveedor })
                                        </td>
                                    </tr>
                                }

                            </thead>
                        </table>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
